{% block body %}

    {% if commentForm is defined %}
    {% set formErrors = commentForm.vars.errors.form.getErrors(true) %}
        {% if formErrors|length %}
            <div class="alert alert-danger">
                <ul>
                    {% for error in formErrors %}
                        <li>{{ error.message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {# Render the Form #}
        {{ form_start(commentForm) }}
        {{ form_row(commentForm.content) }}
        {{ form_row(commentForm.save) }}
        {{ form_widget(commentForm) }}
        {{ form_end(commentForm) }}
    {% endif %}
{% endblock %}