{# /app/templates/article/create.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Création d'un article{% endblock %}

{% block body %}
    <h1>Register</h1>

    {# If there are any errors on the form, display them #}
    {% set formErrors = articleForm.vars.errors.form.getErrors(true) %}
    {% if formErrors|length %}
        <div class="alert alert-danger">
            <ul>
                {% for error in formErrors %}
                    <li>{{ error.message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {# Render the Form #}
    {{ form_start(articleForm) }}
    {{ form_row(articleForm.title) }}
    {{ form_row(articleForm.content) }}
    {{ form_row(articleForm.published) }}

    <button class="btn">Create</button>
    {{ form_end(articleForm) }}
{% endblock %}