{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    {% if article %}

        <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">{{ article.title }}</h1>

        <!-- Author -->
        <p class="lead">
            by
            <a href="#">Start Bootstrap</a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p>Posted on {{ article.publicationDate|date('jS F Y') }}</p>

        <hr>
            <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">
            <hr>
        <p>{{ article.content }}</p>

        <hr>

                {# Render the Form #}
                {{ form_start(commentForm) }}
                {{ form_row(commentForm.content) }}
                {{ form_row(commentForm.save) }}
                {{ form_widget(commentForm) }}
                {{ form_end(commentForm) }}

            {% for c in comments %}
                <h4>{{ c.email.firstName }} {{ c.email.lastName }}</h4>
                <h7>{{ c.creationDate|date('jS F Y') }}</h7>
                <h5>{{ c.content }}</h5>
                <hr>
            {% endfor %}
    </div>


    {% else %}
        <h1>L'article recherché n'existe pas</h1>
    {% endif %}
{% endblock %}